*~
*.bak
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
nbproject/

Thumbs.db
desktop.ini

*.log

index.php
xmlrpc.php
.htaccess
license.txt
readme.html
sitemap.xml
sitemap.xml.gz

wp-admin
wp-includes
wp-*.php
**/wp-content/languages
**/wp-content/uploads
**/wp-content/upgrade
**/wp-content/plugins
**/wp-content/themes
!**/wp-content/themes/**
!**/wp-content/themes/*/index.php

!*/.htaccess
!*/index.php