# Wordpress - ignore core, configuration, examples, uploads and logs.
# https://github.com/github/gitignore/blob/main/WordPress.gitignore

# Core
#
# Note: if you want to stage/commit WP core files
# you can delete this whole section/until Configuration.
/html/wp-admin/
/html/wp-content/index.php
/html/wp-content/languages
/html/wp-content/plugins
/html/wp-content/themes/index.php
/html/wp-content/upgrade
/html/wp-includes/
/html/index.php
/html/license.txt
/html/readme.html
/html/wp-*.php
/html/xmlrpc.php

# Configuration
wp-config.php

# Example themes
/html/wp-content/themes/twenty*/

# Example plugin
/html/wp-content/plugins/hello.php

# Uploads
/html/wp-content/uploads/

# Log files
*.log

# htaccess
/html/.htaccess

# All plugins
#
# Note: If you wish to whitelist plugins,
# uncomment the next line
#/wp-content/plugins

# All themes
#
# Note: If you wish to whitelist themes,
# uncomment the next line
#/wp-content/themes